@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(17, 17, 17);
    --bg-opaque: rgb(17, 17, 17, 0.25);
    --background-light: rgb(35, 35, 35);
    --background-dark: rgb(8, 8, 8);

    --text: rgb(235, 236, 243);
    --brand: #bd5fff;

    --text-xs: 1.6rem;
    --text-sm: 1.8rem;
    --text-md: 2.2rem;
    --text-lg: 3.6rem;
    --text-xl: 5.6rem;
    --text-2xl: 9.6rem;
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.container {
  max-width: 77.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem; /* Equivalent to px-5 */
  padding-right: 1.25rem; /* Equivalent to px-5 */
}

.h1 {
  font-weight: 600; /* Equivalent to font-semibold */
  font-size: 2.5rem;
  line-height: 3.25rem;
}

.h2 {
  font-size: 1.75rem;
  line-height: 2.5rem;
}

.h3 {
  font-size: 2rem;
  line-height: normal;
}

.h4 {
  font-size: 2rem;
  line-height: normal;
}

.h5 {
  font-size: 2rem; /* Equivalent to text-2xl */
  line-height: normal;
}

.h6 {
  font-weight: 600; /* Equivalent to font-semibold */
  font-size: 1.25rem; /* Equivalent to text-lg */
  line-height: 1.25rem;
}

.body-1 {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.body-2 {
  font-weight: lighter; /* Equivalent to font-light */
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.caption {
  font-size: 0.875rem;
}

.tagline {
  font-family: Grotesk; /* Assuming "font-grotesk" is a custom font */
  font-weight: lighter; /* Equivalent to font-light */
  font-size: 0.75rem; /* Equivalent to text-xs */
  letter-spacing: 0.05em; /* Equivalent to tracking-tagline */
  text-transform: uppercase;
}

.quote {
  font-family: monospace; /* Assuming "font-code" is a monospace font */
  font-size: 1.125rem; /* Equivalent to text-lg */
  line-height: normal;
}

.button {
  font-family: monospace; /* Assuming "font-code" is a monospace font */
  font-weight: bold; /* Equivalent to font-bold */
  font-size: 0.875rem; /* Equivalent to text-xs */
  text-transform: uppercase;
  letter-spacing: 0.05em; /* Equivalent to tracking-wider */
}

.slide-in,
.slide-out {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* Animation Framer motion Styling Come from here */

.sectionHeader {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.line {
  width: 100%;
  height: 1px;
  background: var(--text);
  opacity: 0.3;
}

.title {
  font-size: var(--text-sm);
  font-weight: 800;
  line-height: 1.1;
  text-align: center;
  span {
    color: var(--brand);
  }

  @media (max-width: 768px) {
    font-size: var(--text-xl);
  }
}

.subTitle {
  font-size: var(--text-lg);
  line-height: 1.1;
  margin-top: 1.6rem;
  font-weight: 200;

  span {
    font-weight: bold;
    color: var(--brand);
  }
}

.section-wrapper {
  position: relative;
  z-index: 10;
  max-width: 1150px;
  margin: auto;
  padding: 9.6rem;
  overflow: hidden;
}

.title {
  font-size: 10rem;
}

.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
